body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

img {
  border-radius: 7px;
}

#parent{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

ul {
  color: white;
}

#child{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
  overflow-y: scroll;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}